<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline
# from scipy.stats import pearsonr
import scipy.stats as stats 
from sklearn import preprocessing

plt.figure(figsize=(20, 20))

In [83]:
# DO NOT CHANGE

# df = pd.read_csv('/kaggle/input/places-measures/Final CDC All PLACES Measures.csv')
dfAR = pd.read_csv('/Users/jimcody/Documents/DataUsedPython/UIAR.csv',
                   usecols=['fips','2019','median_hh_income','pct_state_median_income'])
dfGA = pd.read_csv('/Users/jimcody/Documents/DataUsedPython/UIGA.csv',
                   usecols=['fips','2019','median_hh_income','pct_state_median_income'])
dfTN = pd.read_csv('/Users/jimcody/Documents/DataUsedPython/UITN.csv',
                   usecols=['fips','2019','median_hh_income','pct_state_median_income'])
dfTX = pd.read_csv('/Users/jimcody/Documents/DataUsedPython/UITX.csv',
                   usecols=['fips','2019','median_hh_income','pct_state_median_income'])
dfPL = pd.read_csv('/Users/jimcody/Documents/DataUsedPython/PLACES_M.csv', 
                   usecols = ['StateAbbr','StateDesc','CountyName','fips','TotalPopulation',
                              'harthritis','hbphigh','hcancer','hhighchol','hkidney','hcopd','hchd','hdiabetes',
                              'hmhlth','hphlth','hteethlost','hstroke'])
dfPL = pd.read_csv('/Users/jimcody/Documents/DataUsedPython/ACS_county_data.csv', 
                   usecols = ['CountyID','StateDesc','CountyName','fips','TotalPopulation',
                              'harthritis','hbphigh','hcancer','hhighchol','hkidney','hcopd','hchd','hdiabetes',
                              'hmhlth','hphlth','hteethlost','hstroke'])

In [84]:
dfUI = dfAR.append([dfGA, dfTN, dfTX])

In [85]:
dfUI.rename(columns = {"2019": "2019UI%"}, 
          inplace = True)

In [86]:
dfUI.shape

(588, 4)

In [87]:
dfPL.shape

(3142, 17)

In [88]:
dfUI.loc[dfUI.duplicated()]

      fips  2019UI% median_hh_income pct_state_median_income
255  48507      8.5         $32,538                   50.80%

In [89]:
# This will drop all duplicate rows

dfUI.drop_duplicates(keep = 'first', inplace = True) 

# keep - which duplicate to keep, default is none!

In [90]:
dfPL.loc[dfPL.duplicated()]

Empty DataFrame
Columns: [StateAbbr, StateDesc, CountyName, fips, TotalPopulation, harthritis, hbphigh, hcancer, hhighchol, hkidney, hcopd, hchd, hdiabetes, hmhlth, hphlth, hteethlost, hstroke]
Index: []

In [91]:
dfFULL = pd.merge(dfUI, dfPL, how="inner", on='fips')

In [92]:
dfFULL.shape

(583, 20)

In [93]:
dfFULL.head()

,fips,2019UI%,median_hh_income,pct_state_median_income,StateAbbr,StateDesc,CountyName,TotalPopulation,harthritis,hbphigh,hcancer,hhighchol,hkidney,hcopd,hchd,hdiabetes,hmhlth,hphlth,hteethlost,hstroke
0,5001,3.0,"$52,539",107.20%,AR,Arkansas,Arkansas,17769,35.5,44.2,8.1,39.4,3.9,10.8,10.3,15.5,16.0,18.7,22.6,5.0
1,5003,5.4,"$47,744",97.40%,AR,Arkansas,Ashley,20046,36.1,44.8,8.2,39.1,4.1,11.4,10.8,16.4,16.5,19.0,24.8,5.3
2,5005,4.0,"$41,950",85.60%,AR,Arkansas,Baxter,41619,39.4,44.0,10.4,42.6,4.0,11.3,11.8,14.5,13.7,17.4,19.9,5.0
3,5007,2.6,"$70,775",144.40%,AR,Arkansas,Benton,272608,25.8,30.7,6.9,32.4,2.6,7.0,7.1,10.4,13.6,13.2,15.9,3.0
4,5009,3.2,"$50,083",102.20%,AR,Arkansas,Boone,37480,35.7,39.9,8.6,38.8,3.5,10.5,10.1,12.9,15.5,17.1,21.0,4.3

In [ ]:
# Are there any columns that are numeric that I want to treat as string?
dfFull.info