In [4]:
# Uses a dropdown list to control the year of the chart
from jupyter_dash import JupyterDash  
from dash.dependencies import Output, Input
from dash import no_update
from dash import dcc
from dash import html                       

import pandas as pd 
import plotly.graph_objects as go
import plotly.express as px

diabetes = pd.read_csv('https://bitbucket.org/jimcody/sampledata/raw/b2aa6df015816ec35afc482b53df1b7ca7a31f80/diabetes_for_plotly.csv')
diabetes['gender'] = diabetes['gender'].replace({'M':'Male', 'Mle':'Male', 'F':'Female', 
                                                 'female':'Female', 'male':'Male', 
                                                 '?':'Female', 'Unknown/Invalid':'Female'})

In [5]:
diabetes = diabetes.drop('encounter_id',axis=1)
diabetes = diabetes.drop('patient_nbr',axis=1)
diabetes = diabetes.drop('admission_type_id',axis=1)
diabetes = diabetes.drop('discharge_disposition_id',axis=1)

In [6]:
d_month = diabetes.groupby(['year','month']).sum().reset_index()
d_month = d_month.sort_values(['year','month'])

In [7]:
d_month.head()

,year,month,time_in_hospital,num_lab_procedures,num_procedures,num_medications
0,2019,1,12999,126464,4086,47882.0
1,2019,2,12206,120761,3910,44088.0
2,2019,3,12330,121311,3781,45222.0
3,2019,4,12183,121216,3712,45047.0
4,2019,5,12460,122202,3868,45044.0

In [8]:
d_month.shape

(36, 6)

# Add dashboard code below

# Dash Exercise 1 - 20 minutes

- Use the Diabetes Analysis Dashboard notebook.
- Add a new cell that will contain all of the dashboard code.
- Add dashboard code to show a scatterplot (use the model created the Dashboard Walkthrough notebook).
- Can you add two more of your created graphs?