In [1]:
# Uses a dropdown list to control the year of the chart
from jupyter_dash import JupyterDash  
from dash.dependencies import Output, Input
from dash import no_update
from dash import dcc
from dash import html                       

import pandas as pd 
import plotly.graph_objects as go
import plotly.express as px

diabetes = pd.read_csv('https://bitbucket.org/jimcody/sampledata/raw/b2aa6df015816ec35afc482b53df1b7ca7a31f80/diabetes_for_plotly.csv')
diabetes['gender'] = diabetes['gender'].replace({'M':'Male', 'Mle':'Male', 'F':'Female', 
                                                 'female':'Female', 'male':'Male', 
                                                 '?':'Female', 'Unknown/Invalid':'Female'})

In [2]:
diabetes.columns

Index(['encounter_id', 'patient_nbr', 'race', 'month', 'year', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications', 'diag_1',
       'A1Cresult', 'insulin', 'diabetesMed', 'readmitted'],
      dtype='object')

In [3]:
diabetes = diabetes.drop('encounter_id',axis=1)
diabetes = diabetes.drop('patient_nbr',axis=1)
diabetes['admission_type_id'] = diabetes.admission_type_id.astype(str)
diabetes['discharge_disposition_id'] = diabetes.discharge_disposition_id.astype(str)

In [6]:
d_month = diabetes.groupby(['year','month','admission_type_id','discharge_disposition_id']).sum().reset_index()
d_month = d_month.sort_values(['year','month'])

In [7]:
d_month.head()

,year,month,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications
0,2019,1,1,1,3402,40232,950,12633.0
1,2019,1,1,11,123,1383,77,486.0
2,2019,1,1,13,31,359,6,116.0
3,2019,1,1,14,51,492,8,172.0
4,2019,1,1,15,8,36,0,23.0

In [8]:
d_month.shape

(36, 6)

# Add dashboard code below

# Dash Exercise 1 - 20 minutes

- Use the Diabetes Analysis Dashboard notebook.
- Add a new cell that will contain all of the dashboard code.
- Add dashboard code to show a scatterplot (use the model created the Dashboard Walkthrough notebook).
- Can you add two more of your created graphs?