<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Simple-Data-Types" data-toc-modified-id="Simple-Data-Types-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Simple Data Types</a></span><ul class="toc-item"><li><span><a href="#Numbers" data-toc-modified-id="Numbers-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Numbers</a></span><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Integers</a></span></li><li><span><a href="#Floating-points-(aka-numbers-with-decimals)" data-toc-modified-id="Floating-points-(aka-numbers-with-decimals)-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Floating points (aka numbers with decimals)</a></span></li><li><span><a href="#A-complex-number" data-toc-modified-id="A-complex-number-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>A complex number</a></span></li></ul></li><li><span><a href="#Arithmetic-Operators" data-toc-modified-id="Arithmetic-Operators-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Arithmetic Operators</a></span><ul class="toc-item"><li><span><a href="#Assign-a-value-to-a-variable" data-toc-modified-id="Assign-a-value-to-a-variable-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Assign a value to a variable</a></span></li></ul></li><li><span><a href="#Operators-Cheat-Sheet" data-toc-modified-id="Operators-Cheat-Sheet-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Operators Cheat Sheet</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#Working-with-a-long-string" data-toc-modified-id="Working-with-a-long-string-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Working with a long string</a></span></li><li><span><a href="#Reference-Material" data-toc-modified-id="Reference-Material-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Reference Material</a></span></li></ul></li><li><span><a href="#Booleans" data-toc-modified-id="Booleans-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Booleans</a></span></li></ul></li><li><span><a href="#Data-Structures" data-toc-modified-id="Data-Structures-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#Indexing-and-Slicing" data-toc-modified-id="Indexing-and-Slicing-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Indexing and Slicing</a></span></li><li><span><a href="#Replace-a-value" data-toc-modified-id="Replace-a-value-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Replace a value</a></span></li><li><span><a href="#Add-values" data-toc-modified-id="Add-values-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Add values</a></span></li><li><span><a href="#Remove-values" data-toc-modified-id="Remove-values-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Remove values</a></span></li><li><span><a href="#Sort,-Count,-Reverse" data-toc-modified-id="Sort,-Count,-Reverse-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Sort, Count, Reverse</a></span></li><li><span><a href="#Miscellaneous" data-toc-modified-id="Miscellaneous-2.1.6"><span class="toc-item-num">2.1.6&nbsp;&nbsp;</span>Miscellaneous</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Set-Exercise---5-minutes" data-toc-modified-id="Set-Exercise---5-minutes-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Set Exercise - 5 minutes</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Dictionaries</a></span></li><li><span><a href="#Dictionary-Exercise---15-minutes" data-toc-modified-id="Dictionary-Exercise---15-minutes-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Dictionary Exercise - 15 minutes</a></span></li><li><span><a href="#Arrays-&amp;-Dataframes" data-toc-modified-id="Arrays-&amp;-Dataframes-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Arrays &amp; Dataframes</a></span></li></ul></li><li><span><a href="#Control-Flows" data-toc-modified-id="Control-Flows-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Control Flows</a></span><ul class="toc-item"><li><span><a href="#If/then/else-Statements" data-toc-modified-id="If/then/else-Statements-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>If/then/else Statements</a></span></li><li><span><a href="#Loops" data-toc-modified-id="Loops-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Loops</a></span><ul class="toc-item"><li><span><a href="#for-loops" data-toc-modified-id="for-loops-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>for loops</a></span></li><li><span><a href="#while-loops" data-toc-modified-id="while-loops-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>while loops</a></span></li><li><span><a href="#range()" data-toc-modified-id="range()-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>range()</a></span></li><li><span><a href="#list-comprehension" data-toc-modified-id="list-comprehension-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>list comprehension</a></span></li></ul></li><li><span><a href="#Functions" data-toc-modified-id="Functions-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Arguements-(*args)-and-keyword-arguements-(kwargs)" data-toc-modified-id="Arguements-(*args)-and-keyword-arguements-(kwargs)-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Arguements (*args) and keyword arguements (kwargs)</a></span></li></ul></li><li><span><a href="#Lambda-functions" data-toc-modified-id="Lambda-functions-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Lambda functions</a></span></li><li><span><a href="#Exerecise---10-minutes" data-toc-modified-id="Exerecise---10-minutes-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Exerecise - 10 minutes</a></span></li></ul></li><li><span><a href="#Reading-data-files" data-toc-modified-id="Reading-data-files-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reading data files</a></span></li></ul></div>

<div style=”page-break-after: always;”></div>

# Simple Data Types

## Numbers

Numbers are: int, float, complex

### Integers

In [1]:
5+5

10

In [2]:
5-7

-2

In [3]:
5*5

25

In [4]:
# Simple division

25/3

8.333333333333334

### Floating points (aka numbers with decimals)

In [5]:
a = 50 * 23/4
a

287.5

### A complex number

In [6]:
a = 23e4
b = 23E4
c = -23e100

print(a)
print(b)
print("This is C: {}".format(c))

230000.0
230000.0
This is C: -2.3e+101

## Arithmetic Operators

- Addition
- Subtraction
- Multiplication
- Division
- Modulus (remainder)
- Exponents
- Floor division

In [7]:
# Modulus - remainder of division

25 % 3

1

In [8]:
# Calculate power

5**2  # squared

# 5**5 = 3125. 5 to the 5th power

25

In [9]:
5**5

3125

In [10]:
# Floor division

25 // 3

8

### Assign a value to a variable

In [11]:
shipments = 1000
administered = 950
doses_left = shipments - administered
doses_left

50

## Operators Cheat Sheet

https://cheatography.com/nouha-thabet/cheat-sheets/python-operators-and-booleans/ <p>
    
![image1.png](images/image1.png)

In [12]:
'yes' == 'no'

False

In [13]:
(10>12) and (30<40)

False

In [14]:
(10>12) or (30<40)

True

In [15]:
(10==12) or (1==1) or (30>40)

True

In [16]:
(10==12) or (1==1) and (30>40)

False

## Strings

In [17]:
'use a single quote'

'use a single quote'

In [18]:
"use a double quote"

'use a double quote'

In [19]:
"'this is quote' used in a quote"

"'this is quote' used in a quote"

In [20]:
'"this is a quote" in a quote'

'"this is a quote" in a quote'

In [21]:
2*'su- '+'sudio.  Thank you Phil Collins'

'su- su- sudio.  Thank you Phil Collins'

### Working with a long string

In [22]:
lyrics = ("There's this girl that's been on my mind "
          'All the time, Su-Sussudio '
          'Oh oh '
          "Now she don't even know my name "
          'But I think she likes me just the same '
          'Su-Sussudio '
          'Woah oh ')
lyrics

"There's this girl that's been on my mind All the time, Su-Sussudio Oh oh Now she don't even know my name But I think she likes me just the same Su-Sussudio Woah oh "

### Reference Material

- https://docs.python.org/3/library/stdtypes.html#string-methods or
- https://www.w3schools.com/python/python_strings_methods.asp

## Booleans

A boolean can have 1 of 2 values: True or False.

In [23]:
x = 100< 95
x

False

In [24]:
a = 100
b = 95
x = a > b
if x == True: print('yes')

yes

In [25]:
type(a)

int

# Data Structures

- List
- Tuple
- Set
- Dictionary

https://docs.python.org/3/tutorial/datastructures.html

## Lists

**Lists**, Tuples, Sets, Dictionaries

A compound data type

- items, sepated by commas
- inside square brackets []
- usually, but not always the same data type

In [26]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]
months

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [27]:
month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
month_names

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [28]:
letters = ['a', 'b', 'c', 'd']
letters

['a', 'b', 'c', 'd']

In [29]:
mess = letters+months
mess

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

### Indexing and Slicing

**Indexing** returns a value from a list based on its position. **Indexing starts at zero**<br>
The index values(s) go inside square brackets [].<br><br>
**Slicing** returns a new list.

In [30]:
# Indexing
# Return the value of letters at index 0.
letters = ['a', 'b', 'c', 'd']
letters[0]

'a'

In [31]:
# Return 'c'
letters[2]

'c'

In [32]:
# Work from the end back.  This do NOT start at zero
# Return 'c' starting from the end.

letters[-2]

'c'

In [33]:
# Slicing - returns a new list based on the index provided
# Return 6, 7 and 8

month_names[6:9]

['Jul', 'Aug', 'Sep']

In [34]:
# Return everything from 6 on

In [35]:
month_names[6:]

['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

### Replace a value

In [36]:
letters[2]='Z'
letters

['a', 'b', 'Z', 'd']

### Add values

- append
- insert
- extend

In [37]:
# Using the string function APPEND.
letters = ['a', 'b', 'c', 'd']

letters.append('e')  # .append takes one parameter
letters

['a', 'b', 'c', 'd', 'e']

In [38]:
# Using the string function INSERT to put something in at a specific position.
letters = ['a', 'b', 'c', 'd']

letters.insert(2,'ZZ')
letters

['a', 'b', 'ZZ', 'c', 'd']

In [39]:
# Using EXTEND to make the list bigger
letters = ['a', 'b', 'c', 'd']

abc = ['f','g','h']
letters.extend(abc)
letters

['a', 'b', 'c', 'd', 'f', 'g', 'h']

In [40]:
# This is what happens if we try APPEND.

abc = ['f','g','h']
letters.append(abc)  # Returns a nested list
letters

['a', 'b', 'c', 'd', 'f', 'g', 'h', ['f', 'g', 'h']]

In [41]:
# So, how can we make a big list with letters and abc?
letters = ['a', 'b', 'c', 'd']
letters+abc

['a', 'b', 'c', 'd', 'f', 'g', 'h']

### Remove values

- pop 
- remove
- clear

In [42]:
letters = ['a', 'b', 'c', 'd']

letters.pop(1)
letters

['a', 'c', 'd']

In [43]:
# POP without an index value removes the last value.

letters = ['a', 'b', 'c', 'd']
letters.pop()
letters

['a', 'b', 'c']

In [44]:
# REMOVE
letters = ['a', 'b', 'c', 'd', 'a']

letters.remove('a')
letters

['b', 'c', 'd', 'a']

In [45]:
# CLEAR the list
letters = ['a', 'b', 'c', 'd']

letters.clear()
letters

[]

### Sort, Count, Reverse

In [46]:
# Sort the list
letters = ['a', 'b', 'c', 'd','a','a']

letters.sort()
letters

# letters.sort(reverse=True)
# letters

['a', 'a', 'a', 'b', 'c', 'd']

In [47]:
letters = ['a', 'b', 'c', 'd','a','a']

letters.reverse()
letters

['a', 'a', 'd', 'c', 'b', 'a']

In [48]:
letters = ['a', 'b', 'c', 'd','a','a']

letters.count('a')

3

### Miscellaneous

List can be used as:

- **stacks** for last-in, first-out processing
- **queues** for first-in, first-out processing

## Tuples

Lists, **Tuples**, Sets, Dictionaries

- Like a list, they contain a collection of items.
- A list is defined by the use of square brackets.  A tuple is defined by the use of parentheses.
- Unlike a list, which can have its items changed (mutable), tuples cannot (**imutable**)
- Tuples are more memory efficient and are generally used for a set of unchanging values (e.g., months, states, etc.)

In [49]:
letters_t = ('a', 'b', 'c', 'd')
type(letters_t)

tuple

In [50]:
import sys

letters = ['a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a']
letters_t = ('a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a','a', 'b', 'c', 'd','a','a')
print(sys.getsizeof(letters))
print(sys.getsizeof(letters_t))

216
184

## Sets

Lists, Tuples, **Sets**, Dictionaries

- Like a list and a tuple, they contain a collection of items.
- A set is defined by the use of curly braces {}.
- A set is an unordered collection with **no duplicate items**.
- A set is immutable after it has been created.
- Sets are useful for removing duplicate values
- Set items are unordered (and may appear in a different order each time the set is used).

In [51]:
letters_s = {'a', 'b', 'e','c', 'd','a','a'}
letters_s

{'a', 'b', 'c', 'd', 'e'}

In [52]:
# Items already in a set cannot be changed but new items can be added.
letters_s = {'a', 'b', 'e','c', 'd','a','a'}

letters_s.add('ZZZ')
letters_s

{'ZZZ', 'a', 'b', 'c', 'd', 'e'}

In [53]:
# Sets can be added to one another

letters_s = {'a', 'b', 'c', 'd'}
abc_s = {'f','g','h'}

letters_s.update(abc_s)
letters_s

{'a', 'b', 'c', 'd', 'f', 'g', 'h'}

In [54]:
# Items can be removed from a set.
letters_s = {'a', 'b', 'c', 'd'}

letters_s.remove('a')
letters_s

#letters_s.discard('a')
#letters_s

{'b', 'c', 'd'}

In [55]:
# Try to remove 'e' from the list.  Do you get an error message?
# Try to discard 'e'.  What happens?

#letters_s.remove('e')
#letters_s

#letters_s.discard('e')
#letters_s

## Set Exercise - 5 minutes

Use the documentation 
- https://docs.python.org/3/library/stdtypes.html#set or 
- https://www.w3schools.com/python/python_sets_methods.asp

In the two sets below:
- What items are in common (intersection)?
- What items are unique across both sets (i.e., not part of the intersection?

deliveries = {'Boston','Monticello','Chicago','Atlanta','Dickey','Douglas','Zenda','Springfield'}<br>
clinics = {'Boston','Chicago','Atlanta','Zenda','Springfield'}

In [56]:
deliveries = {'Boston','Monticello','Chicago','Atlanta','Dickey','Douglas','Zenda','Springfield'}
clinics = {'Boston','Chicago','Atlanta','Zenda','Springfield'}

## Dictionaries

Lists, Tuples, Sets, **Dictionaries**

- A dictionary (aka dict) is a collection of key:value pairs (e.g., zipcode:01545)
- A dictionary is defined by the use of curly braces {} that contain key:value pairs.
- A dictionary is an ordered collection with **no duplicate keys**.
- A dictionary is mutable.

In [57]:
things = {'key1':'thing1','key2':'thing2','key3':'thing3'}
type(things)

dict

In [58]:
# Get the value of a key

things.get('key1')

'thing1'

In [59]:
# Get the keys

things.keys()

dict_keys(['key1', 'key2', 'key3'])

In [60]:
# Add a key:value pair to the dictionary

things['key4']='thing4'
things

{'key1': 'thing1', 'key2': 'thing2', 'key3': 'thing3', 'key4': 'thing4'}

In [61]:
my_dict = {} 
my_dict['l'] = 4
my_dict['m'] = 6
my_dict['n'] = 9
new_value = list(my_dict.items())  # Cast the dict to a list in order to access by index

new_value

[('l', 4), ('m', 6), ('n', 9)]

In [62]:
print(new_value[2])

('n', 9)

In [63]:
# Update a value

things.update({'key3':1999})
things

{'key1': 'thing1', 'key2': 'thing2', 'key3': 1999, 'key4': 'thing4'}

In [64]:
things.items()

dict_items([('key1', 'thing1'), ('key2', 'thing2'), ('key3', 1999), ('key4', 'thing4')])

In [65]:
# Remove a key:value pair

things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}

#things.pop('key3')
#things
    
# things.popitem()   # popitem will only remove the last item

things.clear()     # empties the dictionary
things

{}

In [66]:
# A preview of loops
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}

for xyz in things: 
    print(xyz)         # print the keys
#    print(things[xyz])  # print the values
    
#for xyz in things.keys():
#    print(xyz)

#for xyz in things.values():
#    print(xyz)

key1
key2
key3
key4

In [67]:
for a,b in things.items():
    print(a,b)

key1 thing1
key2 thing2
key3 1999
key4 thing4

## Dictionary Exercise - 15 minutes

https://www.w3schools.com/python/python_dictionaries_methods.asp

1. Create a dictionary with 5 key:value pairs
2. Get the value of the thrid pair
3. Update the value of the third pair
4. Use items to return a tuple of the key:value pairs
5. Return a list of all the values
6. Use the setdefault method. Used when a key is not in the dictionary.

In [68]:
# Dictionary Exercise Here...

## Arrays & Dataframes

Arrays and Dataframes will be discussed after numpy and pandas are introduced.<p>

# Control Flows

## If/then/else Statements

In [69]:
# The basic format... If (test is true): do something

In [70]:
a = 100
b = 95
x = a > b
if x == True: print('yes')

yes

In [71]:
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}
if things.get('key1') == 'thing1': print('it worked')
    
# What happens if it fails?
#if things.get('key1') == 'thing2': print('it worked')

it worked

In [72]:
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}
if things.get('key1') == 'thing2': 
    print('it worked')
else:                                         # Don't forget the colon!!!!
    print('key1 does not hold thing1')

key1 does not hold thing1

In [73]:
things = {'key1':'thing1','key2':'thing2','key3':1999, 'key4':'thing4'}
if things.get('key1') == 'thing2': 
    print('key1 holds thing2')
elif things.get('key1') == 'thing3':
    print('key1 holds thing3')
elif things.get('key1') == 'thing1':   # after running this, change thing1 to thing7 to get else to work
    print('key1 holds thing1')
else:
    print('key1 must hold thing4')

key1 holds thing1

## Loops

There are two loop commands: for & while.

### for loops

In [74]:
letters = ['a', 'b', 'c', 'd']
letters

['a', 'b', 'c', 'd']

In [75]:
# Basic format for 'any name you want' in 'the collection you are using': do something

letters = ['a', 'b', 'c', 'd']
for item in letters: print(item)

a
b
c
d

In [76]:
letters = ['a', 'b', 'c', 'd']
for item in letters: 
    print(item+'xyz')

axyz
bxyz
cxyz
dxyz

In [77]:
letters = ['a', 'b', 'c', 'd']
for item in letters: 
    x = (item+'xyz')

In [78]:
# Loop through a string

for each in 'Su-Sussudio':
    print(each)

S
u
-
S
u
s
s
u
d
i
o

In [79]:
# Using a tuple

letters_t = ('a', 'b', 'c', 'd')
for item in letters: 
   print(item)

a
b
c
d

In [80]:
# Using a set

letters_t = {'a', 'b', 'c', 'd'}
for item in letters: 
   print(item)

a
b
c
d

In [81]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]
months

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [82]:
for item in months:
    if item > 10: 
        print(item)

11
12

In [83]:
new_set = {}
for item in months:
    if item > 7: 
        new_set[item] = item+100 
        print(new_set)

{8: 108}
{8: 108, 9: 109}
{8: 108, 9: 109, 10: 110}
{8: 108, 9: 109, 10: 110, 11: 111}
{8: 108, 9: 109, 10: 110, 11: 111, 12: 112}

In [84]:
type(new_set)

dict

### while loops

Continue to execute as long as a condition is True.

In [85]:
i = 1
while i < 6:
    print(i)
    i += 1  # i = i + 1

1
2
3
4
5

In [86]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print('we are done')

1
2
3
4
5
we are done

### range()

![image2.png](images/image2.png)
https://pynative.com/python-range-function/

In [87]:
for each in range(5):
    print(each)

0
1
2
3
4

In [88]:
x = list(range(5,-1,-1))
x

[5, 4, 3, 2, 1, 0]

In [89]:
cities = ['Boston','Chicago','Atlanta','NYC','LA']
for each in range(len(cities)):  # Determining how many items are in the list
    print(each, cities[each])

0 Boston
1 Chicago
2 Atlanta
3 NYC
4 LA

In [90]:
for each in cities:
    print(each)

Boston
Chicago
Atlanta
NYC
LA

In [91]:
for each in range(2):  # Determining how many items are in the list
    print(each, cities[each])

0 Boston
1 Chicago

### list comprehension

List comprehension is the use of compact syntax to create a list from another list or a string.  It is faster than using a loop.

In [92]:
# Create a list of even numbers

even_nums = []
for x in range(21):
    if x%2 == 0:
        even_nums.append(x)
print(even_nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [93]:
even_nums = [x for x in range(21) if x%2 == 0]
print(even_nums)

# In the above example, [x for x in range(21) if x%2 == 0] returns a new list using the list comprehension. 
# First, it executes the for loop for x in range(21) if x%2 == 0. The element x would be returned if the 
# specified condition if x%2 == 0 evaluates to True.

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Functions

A function is a block of code.  In order for the code to be executed it must be called.<p>
The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.

In [94]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]

for item in months:
    if item > 10: 
        print(item)

11
12

In [95]:
def month_test(xyz):        # xyz is a parameter.
    for item in xyz:
        if item > 5:
            print(item)

In [96]:
month_test(months)         # months is the arguement sent to the function.

6
7
8
9
10
11
12

### Arguements (*args) and keyword arguements (kwargs)

In [97]:
def city_list1(city):
    print('The name of the city is ' + city)
    
city_list1('NY')

The name of the city is NY

In [98]:
# Maybe we don't know how long the list will be but we know we always want the value in second position.

def city_list1(*city):
    print('The name of the city is ' + city[1])
    
city_list1('NY','LA', 'Chicago')

The name of the city is LA

In [99]:
# Keyword arguements
def city_list1(city1, city3, city2):
    print('The name of the city is ' + city2)
    
city_list1(city3 = 'NY',city2 = 'LA', city1 = 'Chicago')

The name of the city is LA

## Lambda functions

A lambda function is anonymous.  That means it does not have a name.

In [100]:
def times2(var):
    return var*2

times2(5)

10

In [101]:
# Use the keyword lambda

lambda var: var*2

In [102]:
x = lambda var: var*2
x(5)                   # pass in the variable

10

In [103]:
y = lambda a, b: a+b
y(10,20)

30

Lambda functions are used along with built-in functions like filter(), map() etc.
<p>
map() is a built-in function that transform all the items in an iterable without using an explicit for loop.

In [104]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]

new_list = list(filter(lambda x: (x%2 == 0) , months))
new_list2 = list(map(lambda x: x*2 , months))

print(new_list)
print(new_list2)

[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

## Exerecise - 10 minutes

- Create a list that contains the names of 10 different fruits.
- Create a function that converts each value in the list to upper case.... str.upper()
- Apply the function

In [105]:
# This is not the solution

fruits=['grapes','apples','oranges','pineapples','kiwi']
new_fruits = list(map(lambda x: str.upper(x) , fruits))
print(new_fruits)

['GRAPES', 'APPLES', 'ORANGES', 'PINEAPPLES', 'KIWI']

# Reading data files

In [106]:
#f = open("data/diabetes.csv",'r')
#print(f.read())
#f.close()

In [107]:
#f = open("data/diabetes.csv",'r')
#print(f.readline())
#print(f.readline())
#print(f.readline())
#f.close()